html, body{
    background-color: #1A3947;
    color: white;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:1601px){
    #card1{
        border: transparent;
        background-color: transparent;
        width: 77.3%;
        position: absolute;
        right: 6vw;
        top: 20vh;
        color: #FCA26E;
    }
    
    #card1 .heading1{
        font-size: 55px;
        font-weight: bold;
    }
    
    #card1 .heading2{
        font-size: 45px;
        font-weight: lighter;
    }
    
    #card2{
        border: transparent;
        background-color: transparent;
        position: absolute;
        width: 77.3%;
        height: 40%;
        right: 6vw;
        top: 40vh;
        color: white;
        font-size: 18px;
        font-weight: lighter;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #card2 .subheaders{
        font-weight: normal;
    }
}

@media screen and (max-width:1600px){
    #card1{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        width: 77.3%;
        position: absolute;
        right: 6vw;
        top: 20vh;
        color: #FCA26E;
    }
    
    #card1 .heading1{
        font-size: 45px;
        font-weight: bold;
    }
    
    #card1 .heading2{
        font-size: 35px;
        font-weight: lighter;
    }
    
    #card2{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        position: absolute;
        width: 77.3%;
        height: 40%;
        right: 6vw;
        top: 40vh;
        color: white;
        font-size: 14px;
        font-weight: lighter;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #card2 .subheaders{
        font-weight: normal;
    }

    img{
        width: 100%;
        height: auto;
    }
}

.footer{
    font-size: 12px;
    text-align: center;
    color: white;
    position: fixed;
    width: 50%;
    bottom: 0;
    right: 0;
    border: transparent;
}
