html, body{
    background-color: #1A3947;
    color: white;
}

@media screen and (min-width:1601px){
    #card1{
        border: transparent;
        /* border: 1px white solid; */
        color: #FCA26E;
        text-align: center;
        background-color: transparent;
        top: 25vh;
    }

    #card1 .heading1{
        font-weight: bold;
    }

    #card1 .heading2{
        font-weight: lighter;
    }

    #card2{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        top: 30vh;
    }

    #card2 .wording{
        text-align: center;
    }

    #card2 .form-group input{
        background-color: transparent;
        border: 1px white solid;
        color: white;
        width: 35%;
        height: 6vh;
        margin: auto;
        margin-bottom: 3vh;  
    }

    #card2 .form-group .form-control::placeholder{
        color: lightgray;
    }
    
    #card2 .form-group .form-control:focus{
        border: #FCA26E;
        box-shadow: 1px 1px 1px #FCA26E inset, 1px 1px 1px #FCA26E;
    }

    #card2 .form-group .btn-success{
        width: 35%;
        height: 6vh;
        display: block;
        margin: auto;
    }

    #card3{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        text-align: center;
        top: 32vh;
    }

    #card3 a{
        color: turquoise;
    }
}

@media screen and (max-width:1600px){
    #card1{
        border: transparent;
        /* border: 1px white solid; */
        color: #FCA26E;
        text-align: center;
        background-color: transparent;
        top: 25vh;
    }

    #card1 .heading1{
        font-weight: bold;
    }

    #card1 .heading2{
        font-weight: lighter;
    }

    #card2{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        top: 30vh;
    }

    #card2 .wording{
        text-align: center;
    }

    #card2 .form-group input{
        background-color: transparent;
        border: 1px white solid;
        color: white;
        width: 35%;
        height: 6vh;
        margin: auto;
        margin-bottom: 3vh;  
    }

    #card2 .form-group .form-control::placeholder{
        color: lightgray;
    }
    
    #card2 .form-group .form-control:focus{
        border: #FCA26E;
        box-shadow: 1px 1px 1px #FCA26E inset, 1px 1px 1px #FCA26E;
    }

    #card2 .form-group .btn-success{
        width: 35%;
        height: 6vh;
        display: block;
        margin: auto;
    }

    #card3{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        text-align: center;
        top: 32vh;
    }

    #card3 a{
        color: turquoise;
    }
}

.modal{
    top: 35vh;
}

.modal-backdrop{
    opacity: 75% !important;
}

.modal-content{
    border: transparent;
    background-color: transparent;
}

.modal-title{
    color: white;
}

.modal-body{
    color: black;
    background-color: white;
    border: 1px white solid;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

#successModal .modal-header{
    background-color: green;
    border: 1px white solid;
}

#failedModal .modal-header{
    background-color: red;
    border: 1px white solid;
}

#unableModal .modal-header{
    background-color: orange;
    border: 1px white solid;
}

.footer{
    color: white;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* border: 1px white solid; */
    border: transparent;
}