html, body{
    background-color: #1A3947;
    color: white;
    font-family: segoe ui;
}

@media screen and (min-width:1601px) {
    #card1{
        /* border: 1px white solid; */
        border: transparent;
        background-color: transparent;
        text-align: center;
        top: 25vh;
    }

    #card1 .heading1{
        color: #FCA26E;
        font-weight: bold;
    }

    #card1 .heading2{
        color: #FCA26E;
        font-weight: lighter;
    }

    #card2{
        border: 1px white solid;
        border: transparent;
        background-color: transparent;
        top: 30vh;
    }

    #card2 .form-group input{
        background-color: transparent;
        border: 1px white solid;
        color: white;
        width: 35%;
        height: 5vh;
        margin: auto;
        margin-bottom: 3vh;  
    }

    #card2 .form-group .form-control::placeholder{
        color: lightgray;
    }
    
    #card2 .form-group .form-control:focus{
        border: #FCA26E;
        box-shadow: 1px 1px 1px #FCA26E inset, 1px 1px 1px #FCA26E;
    }

    #card2 .form-group .btn-success{
        width: 35%;
        height: 5vh;
        display: block;
        margin: auto;
    }

    #card3{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        text-align: center;
        top: 32vh;
    }

    #card3 a{
        color: turquoise;
    }
}

@media screen and (max-width:1600px) {
    #card1{
        /* border: 1px white solid; */
        border: transparent;
        background-color: transparent;
        text-align: center;
        top: 25vh;
    }

    #card1 .heading1{
        color: #FCA26E;
        font-weight: bold;
    }

    #card1 .heading2{
        color: #FCA26E;
        font-weight: lighter;
    }

    #card2{
        border: 1px white solid;
        border: transparent;
        background-color: transparent;
        top: 30vh;
    }

    #card2 .form-group input{
        background-color: transparent;
        border: 1px white solid;
        color: white;
        width: 35%;
        height: 6vh;
        margin: auto;
        margin-bottom: 3vh;  
    }

    #card2 .form-group .form-control::placeholder{
        color: lightgray;
    }
    
    #card2 .form-group .form-control:focus{
        border: #FCA26E;
        box-shadow: 1px 1px 1px #FCA26E inset, 1px 1px 1px #FCA26E;
    }

    #card2 .form-group .btn-success{
        width: 35%;
        height: 6vh;
        display: block;
        margin: auto;
    }

    #card3{
        border: transparent;
        /* border: 1px white solid; */
        background-color: transparent;
        text-align: center;
        top: 32vh;
    }

    #card3 a{
        color: turquoise;
    }
}

.footer{
    color: white;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* border: 1px white solid; */
    border: transparent;
}