body{
    margin-left: 6vw;
    margin-right: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

@media screen and (min-width:1601px){}

@media screen and (max-width:1600px){}

#card1{
    border: transparent;
    /* border: 1px black solid; */
    height: 7.5vh;
    margin-bottom: 2vh;
}

#card1 .headline{
    text-align: center;
    font-weight: bold;
}

.card2{
    width: 100%;
    border: transparent;
    /* border: 1px black solid; */
}

#card3{
    border: transparent;
    /* border: 1px black solid; */
    margin-bottom: 5vh;
}
